<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" prefix="zotero: http://www.zotero.org/namespaces/export#">

  {%- include head.html -%}

  <body>

    {%- include_cached header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script data-goatcounter="https://egonw.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  </body>

</html>
